# Dependências
node_modules/
jspm_packages/
coverage/

# Build e Saída
dist/
build/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Ambiente (SENHAS E CHAVES)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs e Editores
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db
